    body {
      font-family: Arial, sans-serif;
      margin: 20px;
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      text-decoration: solid;
      background-image: url(https://th.bing.com/th/id/OIP.o7HVFPnZVVcdoqxEg3lPIAHaHa?w=640&h=640&rs=1&pid=ImgDetMain);
    }
    #friendInput {
      margin-right: 10px;
      
    }
    #friendsList {
      margin-top: 20px;
    }
    #errorMessage {
      color: red;
     
    }